:root{
    --blue: rgb(051 0129 248);
    --l_blue: rgb(191 236 230);
    --black: #000000;
    --white: #ffffff;
    --grey: #b3b3b3; 
}


/* Services */
.services_head {
    box-sizing: border-box;
    font-size: 1rem;
    background-image: url('/docapp/stf/img/service2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode:color;
    background-color: var(--t_black);
    text-align: center;
    color: var(--white);
    margin: 1rem auto;
    padding: 2rem 1rem;
    width: 100%;
    height: fit-content;
    
}.services_head p {font-size: 2rem; font-weight: bolder; margin: 0.5rem auto;}
.services_head p:nth-child(2) {font-size: 0.85rem; margin-bottom: 1rem; font-weight: normal;}

/* .s_services {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 0.5rem 1rem;
}.s_services div {
    box-sizing: border-box;
    background-image: url('/docapp/stf/img/service2.jpg');
    background-size:contain;
    font-size: 0.8rem;
    word-wrap: break-word;
    text-align:center;
    height: 6rem;
    width: 7rem;
    background-color: var(--grey);
    border-radius:1rem;
    margin: 0.3rem 0.8rem;
}.s_services div > p {
    margin: 0;
    padding: 0.05rem;
} */

/* Services body section */
.services_body {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin: 1rem auto;
    width: 100%;
}.services_body div {
    clear: both;
    box-sizing: border-box;
    text-align:left;
    height: fit-content;
    min-height: 8rem;
    width: 90%;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    margin: 2rem auto;
    height: fit-content;
    padding-bottom: 0.5rem;
    position: relative;
}
.services_body div img {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    min-height: 10rem;
    background-color: var(--t_black);
}
.services_body div p {
    margin: 0.5rem 0;
    padding: 0 1rem;
    font-size: 0.9rem;
}
.services_body div p:nth-child(2) {
    font-size: 1.2rem; 
    color: var(--white);
    font-weight: bolder; 
    top: 1rem;
    position: absolute;
}

.services_body a p {
    box-sizing: border-box;
    padding: 0.2rem 0.5rem; 
    background-color: var(--orange); 
    margin: 0;
    display: inline;
    border-radius: 1rem;
    font-weight: normal;
}.services_body div a { 
    box-sizing: border-box;
    position: relative;
    display:inline;
    margin-bottom: 0.5rem; margin-right: 0.5rem;
    font-size: 0.9rem;
    color: var(--white);
    float: right;
}