:root{
    --blue: rgb(49, 131, 255);
    --l_blue: rgba(211, 235, 255, 0.781);
    --t_blue: #a0d4ff1c;
    --black: #000000;
    --white: #ffffff;
    --grey: #b1b1b1; 
    --t_black: rgba(0, 0, 0, 0.664);
    --orange: rgb(255, 153, 0);
    --transparent: rgba(255, 153, 0, 0);
    --cream: rgba(255, 254, 214, 0.233);
}
* {box-sizing: border-box;}

/* FOR SMARTPHONE & TABLET */
/* width: 576px; */
html {
    box-sizing: border-box;
    width: 500px;
    margin: auto;
    font-size: 1.2em;
}
body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}a {text-decoration: none; color: var(--blue);}

/* Header Navigation Links */
#header {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 0.5rem 1rem; padding-bottom: 0.2rem;
    margin: 0 auto;
    background-color: var(--white);
    display: block;
    color: var(--black);
    box-shadow: 0 0.05rem 0.3rem var(--black);
}#header .home{display: inline-block; padding: 0 1rem 0 0;}
.home img {width: 4.5rem; height: auto; position: relative; margin: 0;}
#header > p {display: inline-block; padding: 0.1rem 0.4rem; margin: 0.2rem;}

#menu{float: right; margin: 0;}
.menu {
    display: inline;
    width: auto; 
    height: 1.4rem; 
    margin: 0;  margin-top: 0.4rem;
    float: right; 
    position: relative;
    z-index: 4;
}
.menu_nav {
    font-size: 1rem;
    font-weight: 450;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0.5rem; padding-bottom: 2rem;
    padding-left: 0.7rem;
    padding-top: 1rem;
    width: fit-content;
    min-width: 50%;
    height: fit-content;
    background-color: var(--white);
    z-index: 3;
    right: 0;
}
.menu_nav p {
    clear: both;
    margin: 0.8rem 0.3rem; 
    display: block;
    height: fit-content;
}

.properties .sub_property, .services .sub_service {
    margin: 0.3rem 0 0 0;
    font-size: 0.9rem;
    position: relative;
    display: none;
}.sub_property a, .sub_service a {
    display: block;
    padding: 0.6rem 0;
    color: var(--black);
}.sub_property a:hover, .sub_service a:hover {
    background-color: var(--l_blue);
    cursor: pointer;
    color: var(--orange);
}

.account {
    position: relative;
    margin-right: inherit;
    display: grid;
}.account .login{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 0.3rem;
    padding: 0.1rem 0;  
}.login a {color: var(--white);}

.arrow_down {
    width: 0.9rem; 
    height: 0.9rem; 
    margin:0; margin-left: 0.2rem; 
    vertical-align: middle; 
    background-color: var(--transparent);}
.arrow_down:hover{cursor:pointer;}

/* Miscelleneaus */
input[type="submit"] {
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    height: auto;
    background-color: var(--blue);
    color: var(--white);
    margin: 0.5rem auto;
    border-style: none;
    border-radius: 0.2rem;
    padding: 0.7rem 0.5rem;
}

/* @ 500 */
@media (min-width: 500px){
    
}

/* @ 768 */
@media (min-width: 768px){
    
}



/* FOR PC */
/* @ 990px */
@media (min-width: 990px){
    html {
        width: 990px;
        margin: auto;
        font-size: 1em;
        box-sizing: border-box;
    }

    /* Header Navigation Links */
    #header {
        width: 100%;
        height: fit-content;
        padding: 0.5rem 0.7rem; padding-bottom: 0.2rem;
        margin: 0 auto;
        background-color: var(--white);
        display: block;
        color: var(--black);
        box-shadow: 0 0.05rem 0.3rem var(--black);
    }#header .home{display: inline; padding: 0 1rem 0 0.7rem;}
    .home img {width: 4.5rem; padding-bottom: 0.2rem; height: auto; position: relative; margin: 0; vertical-align: middle;}
    #header > p {display: inline-block; padding: 0.1rem 0.4rem; margin: 0.2rem;}

    #menu{
        margin: 0;
        display: inline-block;
    }
    .menu {
        display: none;
        width: auto; 
        height: 1.4rem; 
        margin: 0;  margin-top: 0.4rem;
        float: right; 
        position: relative;
        z-index: 4;
    }
    .menu_nav {
        font-size: 1.1rem;
        font-weight: 450;
        position: relative;
        display: inline;
        margin: 0;
        padding: 0.7rem;
        padding-left: 0.7rem;
        width: 100%;
        height: fit-content;
        background-color: var(--white);
        z-index: 3;
    }
    .menu_nav p {
        clear: both;
        margin: 0 0.5rem; 
        display: inline-block;
        height: fit-content;
    }

    .properties .sub_property, .services .sub_service {
        margin: 0.3rem 0 0 0;
        font-size: 0.9rem;
        position: absolute;
        display: none;
        background-color: var(--white);
        padding: 0.7rem 0;
        width: fit-content;
        min-width: 8rem;
    }.sub_property a, .sub_service a {
        display: block;
        padding: 0.6rem 0.7rem;
        color: var(--black);
    }.sub_property a:hover, .sub_service a:hover {
        background-color: var(--l_blue);
        cursor: pointer;
        color: var(--orange);
    }

    .account {
        position: relative;
        padding: 0.5rem;
        margin-right: inherit;
        display: inline;
        float: right;
    }.account .login{
        background-color: var(--blue);
        color: var(--white);
        border-radius: 0.3rem;
        padding: 0.1rem 0;  
    }.login a {color: var(--white);}

    .arrow_down {
        width: 0.9rem; 
        height: 0.9rem; 
        margin:0; margin-left: 0.2rem; 
        vertical-align: middle; 
        background-color: var(--transparent);}
    .arrow_down:hover{cursor:pointer;}
}

/* @ 1200 */
@media (min-width: 1200px){
    
}

/* @ 1400 */
@media (min-width: 1400px){
    
}